.beer-header {
  margin-left: 10px;
  margin-right: 10px;
}

#beer-name {
  display: inline-block;

  font-size: 30px;
}
.review-tile{
  margin-top: 3rem;
}

.grid-x {
  padding-left: 10px;
  padding-right: 10px;
}

#rating {
  display: inline-block;
  float: right;
  font-size: 30px;
  text-align: right;
  margin-top: 17px;
}

.horizontal-line {
  margin: 25px 0px;
  // width: 100%;
  height: 2px;
  background: black;
  overflow: hidden;
  margin: 0 10px 0 10px;
}
.parent{
  padding-top: 75px;
}

.beer-info {
  text-decoration: underline;
}

.brewed-by {
  font-weight: bold;
}

.ABV {
  padding-top: 10px;
  font-weight: bold;

}

.submit-button{
  background-color: #053A5D;
  color: #F2EAC1;
  padding: 10px;
  border-color:#053A5D;
}
.hidden-div{
  background-color: blue;
}

.availability {
  padding-top: 10px;
  font-weight: bold;
}

.style {
  padding-top: 10px;
  font-weight: bold;
}

.beer-information {
  padding-left: 10px;
}

.review-box {
  // width: 100%;
  border: 3px solid #053A5D;
  padding: 10px 10px 30px 10px;
  margin: 10px
}

.review-box-text {
  padding-bottom: 8px;
  font-weight: bold;
  // font-size: 20px;
}
.add-review{
  display: inline-block;
  padding: 10px;
  float: right;
  background-color: #053A5D;
  color: #F2EAC1;

}

// .button {
//   display: inline-block;
//   padding: 10px;
//   float: right;
//   // margin-top: 17px;
//   background-color: #053A5D;
//   color: #F2EAC1;
//
// }

.button:hover {
  background-color: #053A5D;
}

.review-profile-pic {
  height: 3rem;
}

.review-tile-user-info {
  margin-left: -5rem;
}
