.top-bar {
  text-align: center;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumbs {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.home {
  float: left;
}

.beers{
  margin-right: 25px;
}

.breweries{
  margin-left: 25px;
}
.sign-in{
  float: right;
}

#search-button {
  margin-left: 50%;
  margin-right: 50%;
}
