

.top-beer {
  margin-left: 200px;
  width: 25%;
  border: 3px solid #2681B8;
  padding: 10px;
}

.new-beer {
  margin-right: 200px;
  width: 25%;
  border: 3px solid #2681B8;
  padding: 10px;
}

.index{
  margin: auto;
  width: 50%;
  border: 3px solid #2681B8;
  padding: 10px;
  float: center;
}
.all{
 text-align: center;
}
.all-beer-table{
  margin: auto;

}
